<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>SwiftVIPModule</string>
	<key>Description</key>
	<string>Basic Swift VIPER Dependency Injection module template.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Name of module that you need create</string>
			<key>Default</key>
			<string></string>
			<key>Identifier</key>
			<string>viperModuleName</string>
			<key>Name</key>
			<string>Module Name:</string>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_viperModuleName___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>complex</string>
			<key>Name</key>
			<string>Module Type:</string>
			<key>Description</key>
			<string>Type of a module to generate - Default, with UItableView or with UICollectioView</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>UITableView</string>
			<key>Values</key>
			<array>
				<string>Default</string>
				<string>UITableView</string>
				<string>UICollectionView</string>
			</array>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>ReturnHandle</string>
			<key>Name</key>
			<string>Add return handle</string>
			<key>Description</key>
			<string>Module includes return handle logic if data change</string>
			<key>Type</key>
			<string>checkbox</string>
		</dict>
	</array>
	<key>Template Author</key>
	<string>Konstantin Syrbu</string>
</dict>
</plist>
